# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Screenshots/
UnityGenerated/
Library/
LightmapExports/
#Assets/Prefabs/Segments/Generated/
Logs/
UserSettings/
ProjectSettings/Packages/com.unity.probuilder/
Assets/AssetPacks/Magic Light Probes/Editor/Scene Data/
Assets/External/Magic Light Probes/Editor/Scene Data/
Assets/Bakery/_tempScene/
Assets/Editor/x64/Bakery/ftGlobalStorage.asset
Assets/Editor/x64/Bakery/.denoiserlog.txt
Assets/Editor/x64/Bakery/.ftracelog.txt
Assets/Editor/x64/Bakery/.uvgblog.txt
ftGlobalStorage*.asset
ftGlobalStorage*.asset.meta
ftLocalStorage*.asset
ftLocalStorage*.asset.meta
bakery_times.log
_tempScene.*


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
/.vs
*.cache
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.meshcache
*.meshcache.meta
*.viscache
*.viscache.meta
*.blend1
*.blend1.meta
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
# ==== #
# FMOD #
# ==== #
fmod.log
fmod_editor.log
buildcode.bin

Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
Assets/Plugins/FMOD/Resources/FMODStudioCache.asset.meta
Assets/StreamingAssets/UserSettings.bin
Assets/StreamingAssets/UserSettings.bin.meta
Assets/StreamingAssets/Master.bank
Assets/StreamingAssets/Master.bank.meta
Assets/StreamingAssets/Master.strings.bank
Assets/StreamingAssets/Master.strings.bank.meta

SwitchIL2CPPCache/
SwitchIL2CPPStats/

save/*

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*
                    
# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*
                    
# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log

# Ignore UModeller
/[Aa]ssets/tripolygon/*
/[Aa]ssets/tripolygon.meta

/[Aa]ssets/AddressableAssetsData/link.xml
.idea/

# Ignore the auto-generated AOT compatibility dll.
/Assets/Plugins/Sirenix/Assemblies/AOT/*

# Ignore all unpacked demos.
/Assets/Plugins/Sirenix/Demos/*

# But keep the demo packages themselves.
!/Assets/Plugins/Sirenix/Demos/*.unitypackage 